In [23]:
#set 

createset={3,6,1,6,3,2}

print(list(createset)[0])
#print(list(createset)[-1])
#print(list(createset)[3])
createset.add(10)
#createset.remove(6)
print(createset)

1
{1, 2, 3, 6, 10}

In [27]:
createset={9,7,5,3}
x=list(createset)[0]
print(x)

9

#  Remove element name from the set.
Raises KeyError if name is not contained in the set.
# discard element name from the set 
raises no keyError if name is not Present in the set

In [123]:
name={"komal","pallavi","renu","puja"}
name.remove("komal")
name.discard("Moiza")
print(name)
#name.pop()
#print(name)

{'puja', 'pallavi', 'renu'}
{'pallavi', 'renu'}

# Intersection_update
this function will remove all the element which is not present int set1 and set2 both

In [57]:
set1={22,44,55,23}
set2={23,44,1,3,6}
set1.intersection_update(set2)
print(set1)

{44, 23}

# Symmetric_difference_update
This  Function will not print those element which is present in both set(set1 and set2)

In [80]:
set1={"hello","hii","byee"}
set2={"hello","byee","seeyou","takecare"}
set1.symmetric_difference_update(set2)
print(set1)
#print(set2)

{'seeyou', 'takecare', 'hii'}

# Symmetric_difference()
This function returns a new set which contains symmetric difference of two sets

In [81]:
set1={"hello","hii","byee","whereyouare"}
set2={"hello","byee","seeyou","takecare"}
set3=set1.symmetric_difference(set2)
print(set3)
print(set1)

{'seeyou', 'takecare', 'hii', 'whereyouare'}
{'hii', 'hello', 'byee', 'whereyouare'}

# dict()
This function is use to create a dictionary which is Unorderd Changeable and Indexed

In [100]:
x=dict(name="komal",id = 23,role="ST")
print(x)
print(x["name"])

{'name': 'komal', 'id': 23, 'role': 'ST'}
komal

we can append the element on the tupel after converting it into an list

In [119]:
tup1=(1,5,3,6,8)
print(tup1)
x=list(tup1)
x.append(13)
tup2=tuple(x)
print(type(tup2))
print(tup2)

(1, 5, 3, 6, 8)
<class 'tuple'>
(1, 5, 3, 6, 8, 13)

In [130]:
ls=[2,5,3,1,7,9]
print(ls[:4])
print(ls[4:])

[2, 5, 3, 1]
[7, 9]

In [150]:
ls=[2,5,3,1,7,9]
print(ls[4:6])

[7, 9]

In [145]:
ls=[2,5,3,1,7,9,10,11,12]
print(ls[2:7:2])

[3, 7, 10]

In [148]:
print(ls[-4:-2])

[9, 10]

In [163]:
ls=[2,5,3,1,7,9]
ls.append(4)
print(ls)
ls.insert(5,2)
print(ls)
ls.remove(4)
print(ls)

[2, 5, 3, 1, 7, 9, 4]
[2, 5, 3, 1, 7, 2, 9, 4]
[2, 5, 3, 1, 7, 2, 9]

In [1]:
x=10
y=20
if x<y:
    print("Byeee")
else:
    print("hello")

Byeee